<html>
    <head>
        <title>nithin's blog</title>
      </head>
      <body>
      <div>
         <h1><a href = "/">Nithin's Blog</a></h1>
         </div>

         <div>
         <h2><a href="">Spread spectrum</a></h2>
         <p>Direct sequence spread spectrum for GPS and 3rd generation mobile communication and designed
            the communication systems for the above needs in Matlab and Simulink, studied the statistical
            properties of the signal in different noise levels and conditions. mainly,studied the qualities of several
            codes like gold codes,m sequences and baker codes, kasami sequences and evaluated the bit error
            rates.Receiver side design using traditional matched filters lowpass Butterworth filter and
            integrate and dump. The channel capacity measured in different fading conditions.</p>
         </div>

         <div>
         <h2><a href="">Fundemental frequency trajectory examination in matlab</a></h2>
         <p>Pitch detection using a sophisticated algorithm known as yaapt . Main motive to find out the
            fundamental frequency of the speech by the above-mentioned algorithm and try to estimate the
            statistical property of fundamental frequency.<p>
          </div>
          <div>
          <h2><a href="">Fire fighting Robot</a></h2>
          <p>Updated firefighting robot with a control station, which is used to control the remote robot with the aid
            of a computer and it is connected by a wireless camera with a Zigbee module that, is used to send the
            temperature details to PC. The wireless camera captures the images of the fire-prone area and
            transmits it to the computer to visualize the situation and we can change the direction with the arrow keys and it will be transmitted through Zigbee.
            Main Components : Single layer PCB, PIC18F,LM35,L293D,ZIGBEE, Wirless cammera</p>
            </div>




      
      </body>  
    
<html>    